@media(max-width:767px) {


    .header_top {
        flex-direction: column;
        display: flex;
        justify-content: center;
    }

    .header_top img {
        height: 97px;
        width: 98px;

    }

    .header_top h1 {
        font-size: 20px;

    }

    nav {
        display: none;
    }

    .question_block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }

    .question {
        position: relative;
        flex: 0 1 30%;
    }

    .question img {
        width: 100%;
    }

    .question p {
        position: absolute;
        top: 35%;
        color: aliceblue;
        font-family: Open Sans;
        font-size: 25px;
        text-align: center;
    }

    h2 {
        text-align: center;
        color: #0088A2;
        font-size: 50px;
        /* margin: 164px 0 0 0; */
    }

    .muken {
        position: relative;
        width: 100%;
        margin: 0 auto;
        height: 50vh;
    }

    .video {
        /* width: 100%;
        height: 100%; */
    }

    .play {
        position: absolute;
        top: 30%;
        left: 35%;
        width: 30%;
    }



    .section3 {
        /* height: 1000px;
        margin: 300px 0 0 0; */
        display: none;
    }

    .wrap {
        display: none;
        width: 80%;
        margin: 0 auto;
        position: relative;
        display: flex;
        /* height: 70vh; */
    }

    .wrapper {
        display: none;
    }

    .wrap img {
        position: absolute;
        top: 0;

    }

    .wrap img:nth-child(1) {
        left: 0;

    }

    .wrap img:nth-child(2) {
        left: 18%;

    }

    .wrap img:nth-child(3) {
        left: 36%;
    }

    .wrap img:nth-child(4) {
        left: 54%;
    }

    .wrap img:nth-child(5) {
        left: 72%;
    }

    .wrap img:nth-child(even) {
        top: 35px;
    }

    .diiiv {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }

    .proect h1 {
        display: flex;
        color: #0088A2;
        font-size: 50px;
        justify-content: center;

    }

    .diiiv p {
        color: #707070;
        font-size: 20px;
        width: 90%;
        margin: 50px 0 0 0;
        text-align: center;
    }

    .h2 {
        display: flex;
        color: #0088A2;
        justify-content: center;
        margin: 50px 0 0 0;
        font-size: 60px;
    }


    .pop {
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
        width: 70%;
    }

    .pop img {
        width: 100px;

    }

    .android {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .android p {
        color: #707070;
        font-size: 15px;
        justify-content: center;
        align-items: center;
        width: 80%;
        text-align: center;
    }

    .footer1 {
        margin: 100px 0 0 0;
        background: #0088A2;

    }

    .some {
        display: flex;
        color: white;
        justify-content: center;
        font-size: 60px;

    }

    .footer2 {
        display: flex;
        justify-content: space-around;
        width: 50%;
        margin: 5% auto;
    }

    .text {
        display: flex;
        justify-content: space-around;
        width: 100%;
        text-align: center;
        font-size: 60px;
        color: white;
    }

    .text2 {
        color: white;
        display: flex;
        font-size: 15px;
        justify-content: space-around;
        width: 95%;

    }

    .t10 {

        font-size: 15px;

    }

    .t11 {

        font-size: 15px;

    }

    .t12 {
        font-size: 15px;
    }
}